name: build

on:
  push:
    branches:
      - master
  pull_request:
    branches:
      - master

jobs:
    dist-files:
      runs-on: ubuntu-latest

      steps:
        - uses: actions/checkout@v5
        - uses: actions/setup-python@v6
          with:
            python-version: "3.x"

        - uses: trim21/setup-poetry@dist/v1

        - run: pipx run build

        - name: Install twine
          run: pip install twine

        - name: Check Files
          run: twine check dist/*
